* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  margin: 0;
}

#desktop {
  display: none;
}

.card {
  margin: 25px 13px;
  background-color: white;
  border-radius: 10px;
}

img {
  border-radius: 10px 10px 0 0;  
}

.description {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

p, h3 {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
}

p {
  font-size: 14px;
}

.general {
  letter-spacing: 0.25em;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Fraunces', serif;
  margin-top: 10px;
}

.reduced-price {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
  margin: 0 20px 0 0; 
}

.prices {
  display: flex;
  align-items: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: block;
  margin-top: 7px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
  border: none; 
  cursor: pointer;
  transition: ease-in 0.2s;
}

button:hover {
  background-color: hsl(138, 91%, 17%);
}


.previous-price {
  margin-left: 0;
}

.fa-solid {
    margin-right: 8px;
}

@media(min-width: 1440px) {

  #mobile {
    display: none;
  }

  #desktop {
    max-width: 300px;
    display: block;
    border-radius: 10px 0 0 10px;
  }

  .card {
    max-width: 700px;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .description {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 30px;
    justify-content: space-between;
  }
}
 
